html, body {
    height: 100%;
}

body {
    margin: 0;
    letter-spacing : -.36em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-size: 50px;
    margin: 10px 10px 0 10px;
    letter-spacing : normal;
}

.menu {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin: 10px 10px 0 10px;
    letter-spacing : normal;
}

.menu > a > ul {
    font-size: 30px;
    margin: 5px 0;
    padding-inline-start: 0;
}

.main-article {
    font-size: 25px;
    display: inline-block;
    width: calc(100% - 230px);
    margin: 10px 10px 0 0;
    letter-spacing : normal;
}